<template>
<div class="application">
  <my-header></my-header>
  <main>
    <about></about>
    <fluid></fluid>
    <takeAlook></takeAlook>
    <photo></photo>
    <gallery></gallery>
    <brands></brands>
    <feedback></feedback>
  </main>
  <my-footer></my-footer>
  <mobile-menu></mobile-menu>
</div>
</template>

<script>
import MyHeader from '../components/MyHeader';
import About from '../components/About';
import Fluid from '../components/Fluid';
import TakeAlook from '../components/TakeAlook';
import Photo from '../components/Photo';
import Gallery from '../components/Gallery';
import Brands from '../components/Brands';
import Feedback from '../components/Feedback';
import MyFooter from '../components/MyFooter';
import MobileMenu from '../components/MobileMenu';

export default {
  name: 'main_page',
  data () {
    return {
    };
  },
  components: {
    MyHeader,
    About,
    Fluid,
    TakeAlook,
    Photo,
    Gallery,
    Brands,
    Feedback,
    MyFooter,
    MobileMenu,
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  

</style>
