<template>
  <section v-scroll-reveal class="infoBlocks">
    <div class="block">
      <img src="../assets/background/pencil.png"/>
      <h3>Consectetur Risus</h3>
      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
    </div>
    <div class="block">
      <img src="../assets/background/camera.png"/>
      <h3>Ultricies Aenean</h3>
      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec ullamcorper nulla non metus auctor fringilla.</p>
    </div>
    <div class="block">
      <img src="../assets/background/folder.png"/>
      <h3>Cras Sollicitudin</h3>
      <p>Etiam porta sem malesuada magna mollis euismod. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Maecenas faucibus mollis interdum.</p>
    </div>
  </section>
</template>

<script>
export default {
  name: 'about',
  data () {
    return {
    }
  }
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="sass" scoped>
.infoBlocks
  display: flex
  padding: 60px 50px
  @media all and (max-width: 700px)
    flex-wrap: wrap
    padding: 30px 0
  img
    wigth: 60px
    height: 60px
  h3
    padding: 10px 0
    color: #555555
    font-family: 'Imprima', sans-serif
    font-size: 20px
  p
    color: #555555
    line-height: 30px
    padding: 20px 50px
    font-family: 'Raleway', sans-serif
    font-weight: 500
    font-size: 16px


</style>
