<template>
<div class="brands">
  <div v-for="n in brand" :key="n.img" class="brandImg">
    <img :src="n.img"/>
  </div>
</div>
</template>

<script>
let brand = [];
for (let i = 0; i < 5; i++) { // eslint-disable-line
  const b = i + 1;
  brand.push({
    id: i,
    img: `/static/brands/${b}.jpg`,
 });
}

export default {
  name: 'Brands',
  data () {
    return {
      brand,
    }
  }
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="sass" scoped>
.brands
  display: flex
  justify-content: center
  padding: 60px
  align-items: center
  @media all and (max-width: 700px)
    flex-wrap: wrap
  .brandImg
    img
      width: 100%
</style>
