<template>
  <section :class="{submited}" class="inform">
    <div>
      <h3>Maecenas sed diam eget risus varius blandit sit amet non magna.</h3>
      <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Cras mattis consectetur purus sit amet fermentum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
      <div class="form">
        <input placeholder="E-mail..."></input>
        <button @click="handleClick">SUBMIT</button>
      </div>
    </div>
    <div @click="returnClick" class="thanksForm">
      <h3>Thanks for your vote</h3>
      </div>
  </section>
</template>

<script>
export default {
  name: 'about',
  data () {
    return {
      submited: false
    }
  },
  methods: {
    handleClick () {
      this.submited = true
    },
    returnClick () {
      this.submited = false
    }
  }
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="sass" scoped>
.inform
  background: linear-gradient( rgba(33, 37, 43, 1), 
  rgba(33, 37, 43, 0.1) ), 
  url(https://w-dog.net/wallpapers/0/0/487226489378993/job-table-to-do-apple-macbook-laptop-phone-notebook-notes-pencil-textures.jpg)
  height: 500px
  display: flex
  justify-content: center
  padding-top: 7%
  &.submited
    perspective: 1000px
    div:first-child
      transform: rotateX(-90deg)
      opacity: 0
    div:last-child
      transform: rotateX(0deg)
      opacity: 1
  & > div
    transform-origin: top
    background-color: rgba(0, 0, 0, 0.3)
    border-radius: 5px
    position: absolute
    transition: transform 0.6s, opacity 0.6s
    padding: 20px
    @media all and (min-width: 700px)
      width: 60%
      padding: 30px 20px
  .thanksForm
    transform: rotateX(90deg)
    opacity: 0
  h3, p
    color: white
    padding-bottom: 30px
  h3
    font-size: 30px
    font-family: 'Chivo', sans-serif
    font-weight: 300
  p
    line-height: 1.3
  .form
    display: flex
    justify-content: center
    input
     padding: 10px
     outline: none
     text-color: #26262A
    button
      background-color: #f42257
      border: 1px solid transparent
      color: white
      font-family: 'Chivo', sans-serif
      margin-left: 10px
      padding: 0 10px
      border-radius: 3px
      &:active
        background-color: #A3102A
        border: 1px solid #7D0A1F
        outline: none
      &:focus
        outline: none
</style>
