<template>
  <section class="fluidImg">
      <div class="coverBlock">
        <h2>Ligula Mattis Ornare Ultricies</h2>
        <h3>Pellentesque Cursus Amet Parturient Etiam</h3>
        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        <div class="squares">
          <div class="square">
            <h3>Ultricies</h3>
            <p>23, 578</p>
          </div>
          <div class="square">
            <h3>Fermentum</h3>
            <p>12, 732</p>
          </div>
        </div>
      </div>
  </section>
</template>

<script>
export default {
  name: 'fluid',
  data () {
    return {
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="sass" scoped>
.fluidImg
  background-image: url(http://pds.exblog.jp/pds/1/201307/14/01/c0072801_22495895.jpg)
  min-height: 80vh
  background-repeat: no-repeat
  background-size: cover
  position: relative
  @media all and (max-width: 600px)
    height: 100%
  .coverBlock
    right: 100px
    position: absolute
    width: 40%
    height: 100%
    background-color: rgba(0, 0, 0, 0.6)
    @media all and (max-width: 800px)
      right: 0
      position: static
      width: 100%
      height: 100%
    h2, h3, p 
      position: relative
      padding: 20px 50px
    h2
      font-family: 'Chivo', sans-serif
      color: #D0D9D9
      font-size: 28px
      font-weight: 300
    h3
      font-family: 'Chivo', sans-serif
      color: white
      font-size: 20px
      font-weight: 300
    p
      font-family: 'Chivo', sans-serif
      color: white
      font-size: 16px
      font-weight: 300
    .squares
      padding: 10px
      display: flex
      justify-content: space-around
      @media all and (min-width: 600px)
        padding-top: 80px
      .square
        width: 170px
        height: 170px
        border: 1px solid white
        h3, p
          color: white
          font-family: 'Chivo', sans-serif
        h3
          font-weight: 100
          font-size: 20px
          padding: 20px 0
        p
          font-weight: 800
          font-size: 18px

</style>
