<template>
  <div class="galleryContainer">
    <div class="wrapper">
      <div class="leftImg">
        <img src="http://eskipaper.com/images/stunning-landscape-7.jpg"/>
      </div>
        <div class="centred">
          <img src="http://www.workingpreacher.org/blog/media/blog53/feature_images/9267662070_b4b2519333_z_o_19bte59j219pbu6u1lf6br7oo9c-original.jpg"/>
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCWlLQEdtliSySvTo_sYMkFcFZDh7meqquOsChO-XxNzeBGTv1"/>
          <img src="https://17681-presscdn-0-59-pagely.netdna-ssl.com/wp-content/uploads/2016/05/9599iE3DE76D4A6E31EBA.jpg"/>
          <img src="https://static.pexels.com/photos/165213/pexels-photo-165213.jpeg"/>
        </div>
      <div class="rightImg">
        <img src="https://i.pinimg.com/736x/82/a8/06/82a806c3d542e83b94b81292655ce62f.jpg"/>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'gallery',
  data () {
    return {
    }
  }
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="sass" scoped>
.galleryContainer 
  display: flex
  width: 100%
  background-color: #101012
  .wrapper
    display: flex
    height: 60%
    margin: auto
    padding: 50px 0
    max-width: 1000px
    @media all and (max-width: 700px)
      flex-wrap: wrap
      justify-content: center
    .leftImg
      img
        width: 230px
        height: 415px
        object-fit: cover
        @media all and (max-width: 700px)
          padding: 10px 0
    .centred
      display: flex
      flex-wrap: wrap
      justify-content: center
      img
        width: 200px
        height: 200px
        margin: 0 15px
        @media all and (max-width: 700px)
          padding: 10px 0
        
    .rightImg
      img
        width: 230px
        height: 420px
        @media all and (max-width: 700px)
          padding: 10px 0

</style>
