<template>
  <div class="menu" :class="{active}">
    <a href="#"  @click='active = !active' class="menuBtn">
      <svg height="32px" id="Layer_1" style="enable-background:new 0 0 32 32;" version="1.1" viewBox="0 0 32 32" width="32px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M4,10h24c1.104,0,2-0.896,2-2s-0.896-2-2-2H4C2.896,6,2,6.896,2,8S2.896,10,4,10z M28,14H4c-1.104,0-2,0.896-2,2  s0.896,2,2,2h24c1.104,0,2-0.896,2-2S29.104,14,28,14z M28,22H4c-1.104,0-2,0.896-2,2s0.896,2,2,2h24c1.104,0,2-0.896,2-2  S29.104,22,28,22z"/></svg>
    </a>
    <ul :class="{active}">
      <li><a href="#">HOME</a></li>
      <li><a href="#">ABOUT US</a></li>
      <li><a href="#">SERVICES</a></li>
      <li><a href="#">CONTACTS</a></li>
    </ul>
  </div>
</template>

<script>

export default {
  name: 'MobileMenu',
  data () {
    return {
      active: false
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="sass" scoped>
@media all and (min-width: 601px)
  .menu
      display: none
@media all and (max-width: 600px)
  .menu
    width: 100%
    height: 61px
    position: fixed
    left: 0
    right: 0
    top: 0
    background-color: rgba(0, 0, 0, 0.8)
    display: block
    justify-content: center
    
    ul
      overflow: hidden
      display: block
      height: 100vh
      width: 60%
      overflow: scroll
      background-color: rgba(0, 0, 0, 1)
      transform: translateX(-100vw)
      transition: transform 0.5s
      li
        padding: 20px 15px
        text-align: left
        a
          color: #E0E7E7
          font-size: 17px
          font-family: 'Imprima', sans-serif
          text-align: center
          text-decoration: none
      &.active
        background-color: rgba(0, 0, 0, 0.9)
        transform: translateX(0)
    .menuBtn
      width: 100%
      display: flex
      padding: 14px
      svg
        path
          fill: #EDCADF
    
     

</style>
