<template>
  <div class="top">
    <div class="nav">
      <div class="logoAndLinks">
        <div class="logo">
          <img src="../assets/background/light.png"/>
          <div class="logoText">
            <h3>YOUR</h3>
            <h3>LOGO</h3>
          </div>
       </div>
       <div class="links">
         <a href="#">HOME</a>
         <a href="#">ABOUT US</a>
         <a href="#">SERVICE</a>
         <a href="#">CONTACTS</a>
       </div>
      </div>
    </div>
    <h1>In the hall of the</h1>
    <h1>Mountain King</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. Excepteur sint occaecat cupidatat non proidentunt in culpa qui officia deserunt mollit anim id est
            laborum</p>
    <div class="headerButtons">
    <a class="button">LEARN MORE</a>
    <a class="button">DOWNLOAD</a>
    </div>
  </div>
</template>

<script>
export default {
  name: 'my-header',
  data () {
    return {
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="sass" scoped>
.top
  width: 100%
  height: 900px
  background-repeat: no-repeat
  background-size: cover
  background-image: url(http://longwallpapers.com/Desktop-Wallpaper/night-mountain-wallpaper-phone-For-Desktop-Wallpaper.jpg)
  .nav
    padding: 50px 190px
    @media all and (max-width: 600px)
      padding: 0
    .logoAndLinks
      display: flex
      justify-content: space-between
      @media all and (max-width: 600px)
        justify-content: center
        padding: 80px 0
      .logo
        width: 65px
        height: 65px
        border-radius: 65px
        animation: color 4s infinite
        box-shadow: 0px 0px 53px -8px rgba(245,237,245,1)

        img
          width: 50px
          height: 50px
          margin-top: 7px
        .logoText
          padding-top: 10px
          h3
            color: white
            font-weight: 300
            &:nth-child(2)
              color: #757070
              font-weight: 300
      .links
        a
          color: white
          text-decoration: none
          font-family: 'Imprima', sans-serif
          font-size: 17px
          padding-left: 50px
          color: #CBC7C7
          cursor: pointer
          text-shadow: 1px 0px 5px rgba(255, 255, 101, 0.66);
          &:hover
            color: white
            transition: 1s
            text-shadow: none

        @media all and (max-width: 600px)
          display: none
  h1
    font-size: 40px
    padding-top: 50px
    color: #DBD4D4
    font-weight: normal
    @media all and (max-width: 600px)
      padding: 0
    &:nth-child(3)
      font-size: 50px
      color: #9C7EE7
      padding-top: 0
      padding-bottom: 20px
      font-weight: bold
  p
    width: 50%
    margin: auto
    color: #CEC6E1
    background-color: rgba(0, 0, 0, 0.3px)
    border-radius: 15px
    padding: 20px 20px
    @media all and (max-width: 600px)
      width: 80%
  .headerButtons
    padding-top: 80px
    width: 40%
    margin: auto
    justify-content: space-around
    color: white
    display: flex
    @media all and (max-width: 900px)
      width: 90%
    .button
      padding: 14px 16px
      background-color: black
      border-radius: 5px
      cursor: pointer
      font-family: 'Imprima', sans-serif
      transition: 0.5s
      &:nth-child(1)
        background-color: #309596
        &:hover
          background-color: #0D5F6D
          transition: 0.5s
      &:nth-child(2)
        background-color: #f42257
        &:hover
           background-color: #8B172D
           
    
@keyframes color
  0% 
    background-color: #D1D1D7
  15% 
    background-color: #83838C
  30% 
    background-color: #78777B
  45% 
    background-color: #454548
  60% 
    background-color: #78777B
  60% 
    background-color: #A5A4A8
  100%
    background-color: #B9B9C0
</style>
