<template>
  <section class="photoContainer">
    <article class="photoText">
      <div>
        <h3>Donec sed odio dui. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</h3>
        <p class="cursive">Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
        <h3 class="fermentum">– Fermentum Dapibus</h3>
        <p>Nibh Etiam Risus Bibendum</p>
        <p>Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
      </div>
    </article>
  </section>
</template>

<script>
export default {
  name: 'photo',
  data () {
    return {
    }
  }
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="sass" scoped>
.photoContainer
  height: 100%
  background-size: cover
  background-image: url(https://wallpaperscraft.ru/image/fotoapparat_makro_retro_cifrovoy_dalnomernyy_fotoapparat_76581_3840x2160.jpg)
  .photoText
    width: 55%
    height: inherit
    background-color: rgba(255, 255, 255, 0.6)
    margin: 0 auto
    display: flex
    padding: 10% 0
    @media all and (max-width: 600px)
      width: 100%
    div
      width: 70%
      height: auto
      margin: auto
      h3, p
        padding-bottom: 20px
        text-align: left
        @media all and (max-width: 600px)
          text-align: center
      h3
        font-size: 26px
        color: #2B2929
      .fermentum
        font-weight: 300
      p
        font-family: 'Chivo', sans-serif
        font-style: italic
        color: #1A1A1C
      .italic
        font-style: italic



</style>
