<template>
  <section class="takeAlook">
    <div class="container">
      <article class="leftText">
        <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
        <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Donec sed odio dui. Curabitur blandit tempus porttitor. Nullam id dolor id nibh ultricies vehicula ut id elit. Etiam porta sem malesuada magna mollis euismod.</p>
        <p>Donec id elit non mi porta gravida at eget metus. Donec id elit non mi porta gravida at eget metus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nulla vitae elit libero, a pharetra augue.</p>
          <div>
            <a href="#" class="button">Take a look</a>
          </div>
      </article>
    <div class="rightImg">
      <img src="https://content.active.com/Assets/Active.com+Content+Site+Digital+Assets/Cycling/Galleries/5+Training+Secrets/Slide2.jpg"/>
    </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'takeAlook',
  data () {
    return {
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="sass" scoped>
.container
  max-width: auto
  display: flex
  margin: auto
  padding: 80px 0
  @media all and (max-width: 800px)
    flex-wrap: wrap
  @media all and (min-width: 1200px)
    max-width: 80%
  .leftText
    width: auto
    @media all and (min-width: 600px)
      width: 100%
    h3, p
      text-align: center
      font-family: 'Chivo', sans-serif
      padding: 10px 20px
      @media all and (min-width: 1000px)
        text-align: left
        padding-right: 30px
    h3
      font-size: 24px
    p
      font-size: 18px
      line-height: 1.5
      &:nth-child(3)
        font-size: 15px
    div
      display: flex
      justify-content: flex-end
      .button
        margin: auto
        padding: 14px 16px
        background-color: #f42257
        color: white
        text-decoration: none
        @media all and (min-width: 600px)      
          margin-right: 50px
  .rightImg
    margin: auto
    @media all and (max-width: 1199px)
      padding: 10px
    img
      border-radius: 5px
      width: 100%
      height: 100%
      object-fit: cover
     
</style>
