<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>


export default {
  name: 'app',
  components: {

  }
}
</script>

<style lang="sass">
@import url('https://fonts.googleapis.com/css?family=Chivo:300i,400,400i')
@import url('https://fonts.googleapis.com/css?family=Imprima')
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400')
#app 
  font-family: 'Avenir', Helvetica, Arial, sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  text-align: center
  color: #2c3e50

*
  margin: 0
  padding: 0
  box-sizing: border-box

</style>
